<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main class="container">
  <section class="card">
    <div class="product-image">
      <img src="https://steamuserimages-a.akamaihd.net/ugc/2109430443859642967/C6C2B06E58371711C04315B6CE936A62590FCB12/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true" alt="GTA%" draggable="true" />
    </div>
    <div class="product-info">
      <h2>GTA5</h2>
    </div>
    <div class="btn">
      <a href="https://www.rockstargames.com/gta-v"><button class="buy-btn">Install</button></a>
        </svg>
      </button>
    </div>
  </section>
  <section class="card card-blue">
    <div class="product-image">
      <img src="https://avatars.mds.yandex.net/i?id=c85be1a958769e0ee0b6179460550abc43536486-7543946-images-thumbs&n=13" alt="OFF-white Blue Edition" draggable="false" />
    </div>
    <div class="product-info">
      <h2>RDR2</h2>
    <div class="btn">
     <a href="https://www.rockstargames.com/reddeadredemption2"><button class="buy-btn">Install</button></a>
    </div>
  </section>
</main>
</body>
</html>















