<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="../static/register.css">
</head>
<body>
  <section class="container">

    <div class="login-container">

      <div class="circle circle-1"></div>

      <div class="form-container">

        <h1 class="opacity">LOGIN</h1>

        <form>
          <input type="text" placeholder="USERNAME"/>
          <input type="password" placeholder="PASSWORD"/>
            <button class="opacity"><a href="assa.html">SUBMIT</a></button>
        </form>

      </div>

      <div class="circle circle-2"></div>

    </div>

    <div class="theme-btn-container"></div>

  </section>

  <script src="../static/register.js"></script>
</body>
</html>