<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOUSE GAME</title>
    <style>
        body {
    background-image: url('https://t4.ftcdn.net/jpg/04/42/21/53/360_F_442215355_AjiR6ogucq3vPzjFAAEfwbPXYGqYVAap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
    </style>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

      <a href="aza.html" class="button type--C">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">START</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>

  </div>
</body>
</html>

